/* RESET */
html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

ul li{
    list-style: none;
}


/* GLOBAL */
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.app{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}


.grid{
    display: grid;
}


.btn{
    background-color: teal;
    padding: 10px 20px;
    color: white;
}