.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #75707021
}

.nav_logo{
    font-size: 35px;
    font-weight: 600;
}

.nav_menu{
    display: flex;
    align-items: center;
    column-gap: 60px;
}

.nav_list{
    display: flex;
    align-items: center;
    column-gap: 40px;
}


.nav_link:hover{
    color: orange;
    cursor: pointer;
}

.nav_icon{
    font-size: 25px;
    color: orange;
}