.cart{
    margin: 30px 0;
}

.cart_table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
.cart_item:nth-child(even) {
    background-color: #dddddd;
}

.cart_item{
    padding: 5px 0;
}